---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CardInsurance from "@components/CardInsurance.astro";
import { getCollection } from "astro:content";

const details = await getCollection("details");
---

<BaseLayout title="Finances" description={details[0].data.description}>
  <section
    id="finances"
    class="flex flex-col mx-auto mt-20 mb-40 px-6 gap-4 justify-center text-center items-center align-middle"
  >
    <h2 id="insurances">Insurances</h2>
    <div
      class="flex flex-wrap max-w-[1420px] gap-4 text-center justify-center items-center align-middle"
    >
      {
        details[0] &&
          details[0].data.insurances &&
          details[0].data.insurances.map((insurance) => (
            <CardInsurance name={insurance} />
          ))
      }
    </div>

    <p class="text-stone-500">
      <em class="text-lg font-bold">
        NOTE:
        <em class="text-base font-normal">
          Check with your provider for copay and deductible! <br />Not all clinicians take all insurances; please check with the
          office!
        </em>
      </em>
    </p>

    <h2 id="self-pay" class="mt-16">Self-Pay</h2>
    <div
      id="self-pay-info"
      class="flex flex-col gap-4 border border-lifeBackground p-4 rounded-lg text-center justify-center items-center align-middle grow"
    >
      <p class="mt-2 text-2xl">$100 per session</p>
      <p class="text-stone-500"><em>We work with you on a sliding scale to <br />provide services that match your budget.</em></p>
    </div>
  </section>
</BaseLayout>
