---
import BaseLayout from "src/layouts/BaseLayout.astro";
import client from "@data/client.json";
---

<BaseLayout title="Finances" description={client.description}>
  <section id="content">
    <div class="flex flex-col text-center py-10 px-3 gap-4">
      <h1 id="Finances">Finances</h1>

      <p class="text-lg font-bold my-2">
        <em>
          NOTE:
          <em>
            Not all therapists take all insurances; please check with the
            office!
          </em>
        </em>
      </p>

      <div class="flex flex-col text-justify max-w-4xl mx-auto">
        <ul>
          <li>Aetna</li>
          <li>Anthem</li>
          <li>BlueCross</li>
          <li>BlueShield</li>
          <li>Cigna</li>
          <li>Evernorth</li>
          <li>Florida Blue</li>
          <li>Health Advocate</li>
          <li>Humana</li>
          <li>Magellan</li>
          <li>Medicare</li>
          <li>Optum</li>
          <li>TRICARE</li>
          <li>United Medical Resources (UMR)</li>
          <li>UnitedHealthcare (UHC | UBH)</li>
        </ul>

        <p class="text-lg font-bold my-8">
          <em>
            NOTE:
            <em>
              Not all therapists take all insurances; please check with the
              office!
            </em>
          </em>
        </p>
      </div>
    </div>
  </section></BaseLayout
>
