---
import BaseLayout from "src/layouts/BaseLayout.astro";
import client from "@data/client.json";
---

<BaseLayout title={client.name} description={client.description}>
  <section id="content">
    <div class="flex flex-col text-center py-10 px-3 gap-4">
      <h1 id={client.nameShort1}>Welcome to {client.nameShort1}</h1>
      <div class="flex flex-col text-justify max-w-4xl mx-auto">
        <p>
          Life is a journey, not a destination, and it seems filled with more
          hills and valleys than sunny beaches! The first half of my journey was
          spent as many other journeys - as a daughter, sister, wife, co-worker,
          mother, care-giver, and finally, again, as student. I graduated from
          UCF in 2006 with a Master’s Degree in Social Work. My education taught
          me something called PIE - which stands for "Person In Environment". It
          means that each person is a product of their own set of genes and own
          environment and develops characteristics and personality based upon
          those things. He or she or they deserve to be treated as the unique
          and special persons that they are! I try to remember that as it
          applies to therapy - the starting point is wherever you are in the
          Journey!
        </p>

        <p>
          Life does not treat us all equally! Some of us have larger hurdles and
          burdens to bear than others! I dare not offer anything other than
          compassion and respect to those who carry such burdens.
        </p>

        <p>
          I believe that there is much healing in being heard! Being heard sends
          the message to the speaker that “I am important and worth hearing!” It
          also gives the speaker the chance to hear themselves and arrange their
          thoughts in order. It is a wonderful thing to be heard!
        </p>

        <p>
          If you are looking for things to be different, then something will
          have to change - but you already know that. We can look at what those
          things might be, together.
        </p>

        <p class="text-lg font-bold my-8">We are looking forward to meeting you.</p>

        <p class="text-lg font-bold my-8">FL License #4896</p>

        <p class="text-lg font-bold my-8">
          Sessions may be scheduled in person or on-line. Children will only be
          seen in person.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
