---
import { marked } from "marked";
export interface Props {
  treatment: {
    slug: string;
    data: {
      name: string;
    };
    body: string;
  };
}

const { treatment } = Astro.props;
const content = await marked.parse(
treatment.body.replace(/\n(?=\n)/g, "\n\n<br/>\n"),
);
---

<article
  id={treatment.data.name}
  class="flex flex-col gap-4 max-w-2xl border border-lifeBorder p-4 rounded-lg text-left"
>
  <h2 id={treatment.slug}>{treatment.data.name}</h2>
  <section id={treatment.data.name + "body"} class="text-justify">
    <p set:html={content} />
  </section>
</article>
