---
import { marked } from "marked";
export interface Props {
  treatment: {
    slug: string;
    data: {
      name: string;
    };
    body: string;
  };
}

const { treatment } = Astro.props;
const content = await marked.parse(
  treatment.body.replace(/\n(?=\n)/g, "\n\n<br/>\n"),
);
---

<details class="border border-lifeBorder rounded-lg [&_svg]:open:-rotate-180">
  <!-- disabled the summary's default triangle/arrow -->
  <summary
    class="flex cursor-pointer list-none items-center gap-4 p-4 text-2xl"
  >
    <div>
      <!-- added custom triangle/arrow svg -->
      <svg
        class="rotate-0 transform text-lifeMainDark transition-all duration-300"
        fill="none"
        height="30"
        width="30"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="3"
        viewBox="0 0 24 24"
      >
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </div>
    <p class="text-left"><strong>{treatment.data.name}</strong></p>
  </summary>

  <div class="px-4 pb-4"><p set:html={content} /></div>
</details>
