---
import { marked } from "marked";
export interface Props {
  term: {
    slug: string;
    data: {
      name: string;
    };
    body: string;
  };
}

const { term } = Astro.props;
const content = await marked.parse(
  term.body.replace(/\n(?=\n)/g, "\n\n<br/>\n"),
);
---

<article
  id={term.data.name}
  class="flex flex-col gap-4 max-w-2xl border border-lifeBorder p-4 rounded-lg text-left"
>
  <p id={term.slug} class="text-2xl"><strong>{term.data.name}</strong></p>
  <section id={term.data.name + "body"} class="text-justify">
    <p set:html={content} />
  </section>
</article>
