---
import { getCollection } from "astro:content";
import CardPost from "@components/CardPost.astro";

const posts = await getCollection("blog");
const featuredPosts = posts.filter((post) =>
  post.data.tags ? post.data.tags.includes("featured") : false,
);
---

{
  featuredPosts && featuredPosts.length > 0 && (
    <div
      id="blog-featured-posts"
      class="w-full flex flex-col flex-wrap justify-center items-center text-center gap-8 my-24 border-t border-lifeBorder py-8"
    >
      <h2>
        <strong>Featured Posts</strong>
      </h2>
      <div class="flex flex-col gap-8">
        {featuredPosts
          .sort(
            (a, b) =>
              new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
          )
          .map((post) => (
            <CardPost post={post} />
          ))}
      </div>
    </div>
  )
}
