---
import navData from "@data/navData.json";
import { Icon } from "astro-icon/components";
---

<header class="z-50">
  <div
    class="min-h-[50px] flex gap-2 items-center w-full justify-between"
  >
    <a
      href="/"
      aria-label="Home"
      class="max-h-[50px] flex justify-between items-center mr-6"
    >
      <img
        src="/assets/svgs/logotype-wide_color.svg"
        alt=""
        width="233"
        height="60"
        aria-hidden="true"
        decoding="async"
        class="bg-transparent drop-shadow hover:opacity-70 duration-150"
        loading="eager"
      />
    </a>
    <button class="navMenu" title="Menu">
      <label for="dropdown">
        <i class="menuIcon menuBars"><Icon name="menu" /></i>
        <i class="menuIcon menuX"><Icon name="x" /></i>
      </label>
      <input type="checkbox" id="dropdown" />
    </button>
  </div>
  <ul class="navigation list-none">
    {
      navData.map((item) => (
        <li class="w-full h-full flex justify-center items-center text-center">
          <a
            href={item.href}
            title={item.title}
            class="p-4 rounded-md w-full h-full flex justify-center items-center text-center text-lg break-keep whitespace-nowrap no-underline"
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</header>
